
.container {
  display: flex;
  padding: 0 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.upconteiner{
  display: flex;
  align-items: center
}
.item {  
  flex: 0 0 20%;
  width: 100px;
  height:400px ;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}
.container:hover .item {
  transform: translateX(-25%);
  
}
.item:hover ~ .item {
  transform: translateX(25%);
}
.item:hover {
  transform: scale(1.5) !important;
}
.modal{
  width: 100px;
}


.close{
  padding: 2px 16px;
 

  float: right;}
