.slide-button {
  position: absolute;

  height: 40%;
  width: 55px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  padding: 0;
  margin: 40px 0;
  z-index: 1;
}
.slide-button:hover ~ .item {
  transform: translateX(25%);
}
.slide-button:hover {
  transform: scale(1.5) !important;
}


.slide-button span {
    width: 25px;
    color: #fff;
    display: block;
    margin: 0 auto;
  }

  .slide-button--next {
    right: 0;

   
  }
  .slide-button--next  span {
    transform: rotateZ(-90deg);
  }

  .slide-button--prev {
    left: 0;

    
  }
  .slide-button--prev span {
    transform: rotateZ(90deg);
  }
